<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tugas1.Properties.Settings.DB_LATIANConnectionString"
            connectionString="Data Source=DESKTOP-2TSOBBK;Initial Catalog=DB_LATIAN;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>